<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="head-title">Verificación</h2>
  <p class="sub-title">Ingresa el código de 5 dígitos que acabamos de enviar a tu correo</p>
  <form (ngSubmit)="onContinue()">
    <div class="otp-content"> 
      <ng-otp-input
        [config]="otpConfig"
        (onInputChange)="onOtpChange($event)">
      </ng-otp-input>
    </div>

    <ion-button type="submit" expand="block" shape="round" class="login-btn" [disabled]="otp.length !== 5">
      Continuar
    </ion-button>
  </form>
</ion-content>