<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="head-title">¿Olvidaste tu contraseña?</h2>
  <p class="sub-title">Por favor ingresa tu correo para que te podamos ayudar a recuperar tu contraseña</p>

  <div class="bottom-content">
    <form #resetForm="ngForm" (ngSubmit)="onSend(resetForm)">
      <ion-item>
        <div class="input_box">
          <ion-input type="email" [(ngModel)]="email" name="email" #emailRef="ngModel" required email placeholder="Correo"></ion-input>
        </div>
      </ion-item>
      <ion-button type="submit" expand="block" shape="round" class="login-btn">
        Enviar codigo
      </ion-button>
    </form>

    <div *ngIf="submitAttempted && emailRef.errors?.['required']" class="error-message">
      El correo es requerido.
    </div>
    <div *ngIf="submitAttempted && emailRef.errors?.['email']" class="error-message">
      Por favor introduce un correo válido.
    </div>
  </div>
</ion-content>