ion-card {
    margin: 0 !important; /* Elimina los márgenes externos */
    width: 100%; /* Asegura que el card ocupe el ancho completo */
}

.card-container {
    margin-bottom: 16px; /* Ajusta este valor según la cantidad de espacio deseado */
}
  