<ion-header>
  <ion-toolbar>
    <ion-title>Reportes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportarAExcel()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="navegarAFiltroReportes()">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let reporte of reportes" class="card-container">
      <ion-item>
        <ion-card >
          <ion-item>
            <ion-avatar slot="start">
              <img *ngIf="reporte.imagenPerfil; else defaultImage" [src]="reporte.imagenPerfil" alt="Foto de perfil">
              <ng-template #defaultImage>
                <img src="assets/imgs/hombre.png" alt="Foto de perfil predeterminada">
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{ reporte.autor }}</h2>
              <p>{{ reporte.fechaHora | date: 'dd/MM/yyyy h:mm a' }}</p>
            </ion-label>
          </ion-item>
          <ion-card-content>
            <p>{{ reporte.linea }}</p>
            <p>Estación: {{ reporte.estacion }}</p>
            <p>Dirección: {{ reporte.direccion }}</p>
            <p>Reporte: {{ reporte.titulo }}</p>
            <p>Descripción: {{ reporte.descripcion }}</p>
            <img *ngIf="reporte.imagen" [src]="reporte.imagen" alt="Imagen del reporte" (click)="openImageFullScreen(reporte.imagen)">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="heart"></ion-icon>
              <span class="like-dislike-count">{{ reporte.likes }}</span>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="heart-dislike"></ion-icon>
              <span class="like-dislike-count">{{ reporte.dislikes }}</span>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmarEliminacion(reporte)">
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>