ion-card {
    margin: 0 !important; /* Elimina los márgenes externos */
    width: 100%; /* Asegura que el card ocupe el ancho completo */
}

.card-container {
    margin-bottom: 16px; /* Ajusta este valor según la cantidad de espacio deseado */
}

.like-dislike-button {
    display: flex;
    align-items: center;
}
  
.like-dislike-count {
    margin-left: 5px;
}