<ion-content>
  <div class="main_content_div">

    <div class="shadow_card card_box" (click)="updateInfo()">
      <div class="user_image bg_image" [style.backgroundImage]="'url(' + (imagenPerfil ? imagenPerfil : 'assets/imgs/hombre.png') + ')'">  </div>
      <ion-label class="name_lbl"> {{nombreCompleto}} </ion-label>
      <ion-label class="email_lbl"> {{correo}} </ion-label>
    </div>

    <ion-item lines="none" detail="" class="ion-activatable ripple-parent" (click)="updateInfo()">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label> Actualizar información </ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>

    <ion-item lines="none" detail="" class="ion-activatable ripple-parent" (click)="irACalificaExperiencia()">
      <ion-icon name="star-outline" slot="start"></ion-icon>
      <ion-label> Califica tu experiencia </ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>    

    <ion-item lines="none" detail="" class="ion-activatable ripple-parent" (click)="abrirPDF()">
      <ion-icon name="document-attach-outline" slot="start"></ion-icon>
      <ion-label> Terminos del servicio </ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>

    <ion-item lines="none" detail="" class="ion-activatable ripple-parent" (click)="logout()">
      <ion-icon name="power-outline" slot="start"></ion-icon>
      <ion-label> Cerrar sesión </ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>

  </div>
</ion-content>