.user-image {
    width: 50px; /* Define el ancho deseado de la imagen */
    height: auto; /* Permite que la altura se ajuste automáticamente manteniendo la proporción */
    margin-right: 10px; /* Agrega un margen a la derecha para separar la imagen de la información */
  }