<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="head-title">Restablecer contraseña</h2>
  <p class="sub-title">Ingresa tu nueva contraseña y confírmala</p>

  <form #passwordForm="ngForm" (ngSubmit)="onConfirm()">

    <ion-item>
      <div class="input_box">
        <ion-input [type]="viewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" #newPasswordRef="ngModel" required [pattern]="passwordPattern" placeholder="Nueva contraseña"></ion-input>
      </div>
      <ion-button (click)="changeType()" fill="clear" slot="end" class="toggle_btn">
        <ion-icon slot="icon-only" [name]="viewPassword == true ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <br>
    <ion-item>
      <div class="input_box">
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" #confirmPasswordRef="ngModel" required placeholder="Confirmar contraseña"></ion-input>
      </div>
    </ion-item>

    <div *ngIf="submitAttempted && newPasswordRef.errors?.['required']" class="error-message">
      La contraseña es requerida.
    </div>
    <div *ngIf="submitAttempted && newPasswordRef.errors?.['pattern']" class="error-message">
      La contraseña debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas, un número y un caracter especial.
    </div>

    <div *ngIf="submitAttempted && confirmPasswordRef.errors?.['required']" class="error-message">
      Confirmar contraseña es requerida.
    </div>
    <div *ngIf="newPassword !== confirmPassword && confirmPasswordRef.touched" class="error-message">
      Las contraseñas no coinciden.
    </div>

    <ion-button type="submit" expand="block" shape="round" class="login-btn">
      Restablecer contraseña
    </ion-button>
  </form>
</ion-content>