<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Direccion {{ direccion }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleConfigMode()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Última actualización -->
  <ion-toolbar>
    <ion-title size="small" style="text-align: center;">
      Última actualización: {{ ultimoTiempoActualizacion | date: 'dd/MM/yyyy HH:mm' }}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
    <!-- Configuración Detallada -->
  <ng-container *ngIf="configMode === 'detallada'">
    <ion-list>
      <ion-item *ngFor="let estacion of afluencias">
        <ion-thumbnail slot="start">
          <img [src]="estacion.icono">
        </ion-thumbnail>
        <div class="progress-container" [ngClass]="getProgressBarClass(estacion.afluencia)">
          <ion-progress-bar [value]="estacion.afluencia/100" [ngClass]="getProgressBarClass(estacion.afluencia)"></ion-progress-bar>
          <div class="progress-label">{{ getProgressLabel(estacion.afluencia) }} ({{ estacion.afluencia }}%)</div>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="configMode === 'basica'">
    <ion-list>
      <ion-item *ngFor="let estacion of afluencias">
        <ion-thumbnail slot="start">
          <img [src]="estacion.icono">
        </ion-thumbnail>
        <div [ngClass]="getSemaforoColor(estacion.afluencia)" class="semaforo">
        </div>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>